body{
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin:0;
}

h1{
    font:30px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input{
    width:60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    border-radius:5px;
    font-size:18px;
    color: #333;
}

#search-button{
    padding:10px 20px;
    background-color: #4caf50;
    color:white;
    font-size:18px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    border-radius:5px;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

#search-button:hover{
    background-color:#3e8341;
    
}

.search-results{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:23px;
    max-width:1200px;
    margin: 0 auto;

}


 .search-result{
    margin-bottom: 60px;
    width: 30%;
    border-radius: 7.5px;
    box-shadow: 0 0 5px rgba(0,0,0,.20);
    overflow: hidden;
 }

 
.search-result:hover img{
    transform: scale(1.075);
 }

.search-result img{
    width:100%;
    height:200px;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.search-result a{
    padding: 10px;
    display: block;
    color: #333;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
}

.search-result:hover a{
    background-color: rgba(0,0,0,.2);
}

#show-more-button{
    background-color: #008cba;
    border:none;
    color: white;
    padding: 10px 20px;
    display:block;
    text-align: center;
    margin: 30px auto;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
    display:none;
}

#show-more-button:hover{
    background-color: #0077b5;
}

@media screen and (max-width: 768px) {
    .search-result{
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .search-result{
        width: 100%;
    }
    form{
        flex-direction:column;
    }
    #search-input{
        margin-bottom:20px;
        width: 83%;;
    }
}